.header{
    width: 100%;
    height: 60px;
    background-color: #0F1111;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerImage{
    height: 40px;
    width: 100px;
    object-fit: contain;
    margin-left: 20px;
    margin-top: 15px;
}

.address{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    height: 20px;
    margin-left: 20px;
}

.address>span>p{
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: white;
}

.address>span>h4{
    font-size: 14px;
}

.address>span{
    color: azure;
    display: flex;
    flex-direction: column;
    height: 20px;
}

.input>input{
    width: 700px;
}

.input{
    display: flex;
    flex-direction: row;
    background-color: #EAD11E;
    height: 45px;
    width: 810px;
    border-radius: 3px;
    align-self: center;
    margin-left: 25px;
}

#dropdown-basic{
    height: 45px;
    border-radius: 0px;
    background-color: #BDBDB7;
    color: black;
    border-color: #BDBDB7;
}

#flag{
    background-color: #0F1111;
}

.cart{
    color: white;
}