.card2{
    height: 410px;
    width: 350px;
    padding: 20px;
}

.productImg2{
    height: 115px;
    width: 145px;
}

.productImage2{
    height: 115px;
    width: 145px;
    margin-left: 16px;
}

.productImageHeader2{
    margin-top: 40px;
}

.product2{
    height: 280px;
    width: 310px;
}